
/*
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
*/

body {
	margin: 0;
	padding: 0;
	background: #F0F0F0 url(images/bg.png) repeat;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #181B20;
}

h1, h2, h3, h4 {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;
    color: #2B6519;
}

h1 {
    font-size: 2em;
    font-weight: normal;
}

h2 {
    font-size: 2.4em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

h3 {
    font-size: 1.6em;
    font-weight: normal;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

a {
	text-decoration: none;
	color: #EA3323;
}

a:hover {
	text-decoration: underline;
}

img
{
	margin-bottom: 2em;
}

.image
{
	display: inline-block;
}

.image img
{
	display: block;
	width: 100%;
}

.image-full
{
	display: block;
	width: 100%;
	margin: 0 0 2em 0;
}

img.border {
	border: 6px solid #EEE7DF;
}

img.alignleft {
	float: left;
	margin-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header-wrapper {
	height: 240px;
}

#header {
	width: 960px;
	height: 240px;
	margin: 0 auto;
}

/* Logo */

#logo {
	width: 980px;
	height: 100px;
	margin: 0px auto;
	padding: 40px 0px 0px 0px;
	color: #3B3B3B;
}

#logo h1, #logo h2, #logo p {
	display: block;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	color: #3B3B3B;
}

#logo h1 {
	font-size: 54px;
	font-weight: bold;
}

#logo h2 {
	font-size: 24px;
	font-weight: bold;
}

#logo p {
	letter-spacing: 1px;
	font-size: 24px;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	font-weight: bold;
	color: #3B3B3B;
}

/* Search */

#search {
	float: right;
	width: 280px;
	height: 100px;
	padding: 0;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 60px 0 0 30px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 195px;
	padding: 6px 10px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #7F7F81;
}

#search-submit {
	display: none;
}

/* Menu */

#menu {
	width: 940px;
	height: 56px;
	margin: 0px auto;
	padding: 20px 20px 0px 20px;
	background: #EA3323;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	height: 56px;
	margin: 0px;
	padding: 0px 30px 0px 30px;
	line-height: 56px;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	color: #FFFFFF;
}

#menu a:hover {
	text-decoration: none;
}

#menu .current_page_item a {
	background: #FFFFFF;
	color: #EA3323;
}

#menu .current_page_item a:hover {
	background: #FFFFFF;
	color: #EA3323;
}

/* Page */

#page {
	width: 1100px;
	margin: 0 auto;
	padding: 0;
	background-color: #FFFFFF;
}

#page-bgtop {
}

#page-bgbtm {
	margin: 0px;
	padding: 40px 50px 0px 50px;
}

/* Content */

#content {
	float: left;
	width: 650px;
	padding: 0px 0px 0px 0px;
}

#context p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify
}

/* Sidebar */

#sidebar {
	float: right;
	width: 280px;
	padding: 0px 0px 0px 0px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 38px;
	margin-bottom: 20px;
	padding: 12px 0 0 0;
	border-bottom: 1px solid #B6BFD0;
	letter-spacing: -1px;
	font-size: 24px;
	color: #1A1A1A;
}

#sidebar p {
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Commitee table */

table {
    border-collapse: collapse;
    border-spacing: 10px 0px;

}

td { padding-left: 8px; padding-right: 8px }

/* Footer */

#footer {
	width: 1200px;
	margin: 0em auto;
	padding: 5em 0em;
	background: url(images/shadow.png) no-repeat center top;
}

#footer p {
	letter-spacing: 0.20em;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.80em;
	color: #8F8F8F;
}

#footer a {
	color: #8F8F8F;
}

#accepted {
    padding-top: 8px;
}

#accepted li {

    list-style-type: none;
    padding-bottom: 5px;
}


#accepted li > div:nth-of-type(1) {
    font-style: italic;
    font-weight: bold;
}
