<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Escalate
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20111121

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>The SAT Modulo Theories 2019 Workshop</title>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600' rel='stylesheet' type='text/css'/>
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
  <div id="header-wrapper">
    <div id="header">
      <div id="logo">
	<h1><a href="#">SMT 2019</a></h1>
	<h2>17th International Workshop on Satisfiability Modulo Theories</h2>
	<p>July 7-8, 2019, Lisbon, Portugal</p>
	<p>Affiliated with <a href="http://sat2019.tecnico.ulisboa.pt"><b>SAT 2019</b></a></p>
      </div>
    </div>
  </div>
  <!-- end #header -->

<div id="menu">
  <ul>
    <li{%if page.url == '/'%} class="current_page_item"{%endif%}><a href="index.html">Home</a></li>
    <li{%if page.url == '/cfp.html'%} class="current_page_item"{%endif%}><a href="cfp.html">Call for Papers</a></li>
    <li{%if page.url == '/committee.html'%} class="current_page_item"{%endif%}><a href="committee.html">Committee</a></li>
    <li{%if page.url == '/invited.html'%} class="current_page_item"{%endif%}><a href="invited.html">Invited Talks</a></li>
    <!-- <li><a href="./program.shtml">Program</a></li> -->
    <!-- <li><a href="./registration.shtml">Registration</a></li> -->
  </ul>
</div>
<!-- end #menu -->

<div id="page"><div id="page-bgtop"><div id="page-bgbtm">
<div id="content">
{{ content }}
<div style="clear: both;">&nbsp;</div>
</div>
<!-- end #content -->

<div id="sidebar">

<h3>Previous Events</h3>
<ul>
<li><a href="http://smt-workshop.cs.uiowa.edu/2018/index.shtml">SMT 2018</a></li>
<li><a href="http://smt-workshop.cs.uiowa.edu/2017/index.shtml">SMT 2017</a></li>
<li><a href="http://www.sc-square.org/CSA/workshop2.html">SC<sup>2</sup> 2017</a></li>
<li><a href="http://smt-workshop.cs.uiowa.edu/2016/index.shtml">SMT 2016</a></li>
<li><a href="http://smt2015.csl.sri.com/">SMT 2015</a></li>
<li><a href="http://smt2014.it.uu.se/">SMT 2014</a></li>
<li><a href="http://smt2013.fbk.eu/">SMT 2013</a></li>
<li><a href="http://smt2012.loria.fr/">SMT 2012</a></li>
<li><a href="http://uclid.eecs.berkeley.edu/smt11/">SMT 2011</a></li>
<li><a href="http://www.cprover.org/SMT10/">SMT 2010</a></li>
<li><a href="http://ie.technion.ac.il/SMT09/">SMT 2009</a></li>
<li><a href="http://research.microsoft.com/en-us/um/redmond/events/smt08/">SMT 2008</a></li>
<li><a href="http://www.lsi.upc.edu/%7Eoliveras/smt07/home.html">SMT 2007</a></li>
<li><a href="http://disi.unitn.it/%7Erseba/pdpar06/">PDPAR 2006</a></li>
<li><a href="http://www.ai-lab.it/armando/pdpar05/">PDPAR 2005</a></li>
<li><a href="http://www.loria.fr/%7Eranise/pdpar04/">PDPAR 2004</a></li>
<li><a href="http://www.loria.fr/%7Eranise/pdpar03/">PDPAR 2003</a></li>
</ul>
</div>
<!-- end #sidebar -->
<div style="clear: both;">&nbsp;</div>
</div>
</div>
</div>
<!-- end #page -->
</div>

<div id="footer">
<p>Photos used under <a href="https://creativecommons.org/licenses/by/2.0/" rel="nofollow">CC</a> from <a href="https://foto.wuestenigel.com" rel="nofollow">wuestenigel</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
